  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IMonitor" type="UnityComponent.IMonitor, Monitor" />
    <alias alias="Monotor" type="UnityComponent.Monitor, Monitor" />
    <alias alias="INotify" type="UnityComponent.INotify, EmailNotify" />
    <alias alias="Notify" type="UnityComponent.EmailNotify, EmailNotify" />
    <container>
      <register type="IMonitor" mapTo="Monitor"/>
      <register type="INotify" mapTo="Notify"/>
    </container>
  </unity>